# ===============================
# Visual Studio
# ===============================
.vs/

# ===============================
# Build trash
# ===============================
*.exe
*.obj
*.ilk
*.pdb
*.idb
*.log
*.dll
*.a

# ===============================
# VS Code / Python
# ===============================
.vscode/
.venv/